/* @font-face {
  font-family: "Runboy"; 
  src: local("Runboy"), url("./fonts/Runboy\ Free\ Trial.woff") format("woff");
}
*/

body {
  background-image: "./assets/suny.webp" !important;
  background-position: center !important;
  background-size: cover !important;
}
